<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <style>
      h1{
        font-size: 40px;
        font-family:Roboto;
        font-weight: normal;
        color:rgb(155,10,100);
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 1080px;
        object-fit:cover;
      }
      .bodytext{
        font-family: Roboto;
        color: rgb(80, 80, 80);
      }

      #container{
        max-width:720px;
        margin: 0 auto;
      }

     
    </style>
  </head>

  <body>
    <div id ="container">
      <h1>Jovian Careers</h1>
    
    <img id="banner" src="https://jovian-job-site.abinasnayak.repl.co/static/Banner_jovian.jpg" height = '320' width = '1200' class="center">
    <h2>About Jovian</h2>
    <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis. Ut placerat orci nulla pellentesque. Elementum curabitur vitae nunc sed velit dignissim. Mi quis hendrerit dolor magna eget est lorem. Euismod lacinia at quis risus sed vulputate odio ut enim. Nulla porttitor massa id neque aliquam vestibulum. Tempor nec feugiat nisl pretium fusce id. Bibendum enim facilisis gravida neque convallis a. Pellentesque adipiscing commodo elit at imperdiet dui. Netus et malesuada fames ac turpis egestas. Vitae auctor eu augue ut lectus arcu bibendum at. Ac turpis egestas maecenas pharetra convallis. Risus nullam eget felis eget nunc lobortis mattis. Quis lectus nulla at volutpat diam ut venenatis tellus. Mattis vulputate enim nulla aliquet porttitor.
</p>
    <h2>Open Positions</h2>
    <p class="bodytext">To Do - Job Openins</p>
      <div style="text-align:center;">
        <button>Contact Us</button>
      </div>
    
    </div>
    
  </body>



</html>